.task-details .red {
    width: 10px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    border: 0;
}

.task-details .pale-red {
    width: 10px;
    height: 12px;
    background-color: #FFE7E0;
    border-radius: 50%;
    border: 0;
}

.task-details .yellow {
    border-radius: 50%;
    width: 10px; 
    height: 12px; 
    background-color: yellow; 
    border: 0
}

.task-details .pale-yellow {
    border-radius: 50%;
    width: 10px; 
    height: 12px; 
    background-color: #ffffbf; 
    border: 0
}

.task-details .green {
    border-radius: 50%;
    width: 10px; height: 12px; 
    background-color: green; 
    border: 0
}

.task-details .pale-green {
    border-radius: 50%;
    width: 10px; height: 12px; 
    background-color: #ECFFDC; 
    border: 0
}