@import "./../../styles/variables.scss";

// classes for priority color coding
.task-details {
  border-bottom: 1px solid $secondary-color;
  padding: 20px 0;
  font-size: 1.2em;

  @include breakpoint-small {
    border-left: 1px solid lightgray;
    box-shadow: 0px -0.5px 10px lightgrey;
    padding-left: 2%;
    margin: 3%;
    margin-left: 0;
  }
  h3 {
    color: $primary-color;
  }

  strong {
    color: $primary-color;
  }

  .id {
    font-size: 0.8em;
    margin-bottom: 5%;
    margin-top: 1%;
  }

  // classes for priority colors
  .red {
    width: 10px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    border: 0;
  }

  .pale-red {
    width: 10px;
    height: 12px;
    background-color: #ffe7e0;
    border-radius: 50%;
    border: 0;
  }

  .yellow {
    border-radius: 50%;
    width: 10px;
    height: 12px;
    background-color: orange;
    border: 0;
  }

  .pale-yellow {
    border-radius: 50%;
    width: 10px;
    height: 12px;
    background-color: #ffffbf;
    border: 0;
  }

  .green {
    border-radius: 50%;
    width: 10px;
    height: 12px;
    background-color: green;
    border: 0;
  }

  .pale-green {
    border-radius: 50%;
    width: 10px;
    height: 12px;
    background-color: #ecffdc;
    border: 0;
  }

  // styles for delete and status buttons
  // inherited base button styles from Tasks component / .tasks-container

  .status-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    svg {
      color: white;
      margin-right: 8px;
    }
  }

  .delete-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    svg {
      color: white;
      margin-right: 8px;
    }
    &:hover svg {
      color: red;
    }
  }
}
