// color variables
$primary-color: #6a96c1;
$primary-color-light: #8fb0cf;
$secondary-color: grey;
$onlight-text-color: #34343a;
$ondark-text-color: #fefefe;
$background-color: #fefefe;
$success-color: #0dc729;
$danger-color: #cd2424;

// style for a set of buttons mixin
@mixin button-style($color) {
  color: $color;
  border: 2px solid $color;
  background-color: transparent;
  border-radius: 4px;
  height: 2em;
  width: 8em;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
  transform: scale(1) translateZ(0) translateX(-1%) translateY(-1%);

  &:hover {
    transform: scale(1.05);
  }
  @content;
}

// main page containers style mixin
@mixin main-containers {
  border-radius: 1%;
  flex: 1;
  padding: 3%;
  margin: 0 1%;
  box-shadow: 5px 3px 10px lightgray, -3px 0 0.4em lightgray;

  @content;
}

// responsive mixin
@mixin breakpoint($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(600px) {
    @content;
  }
}
