// color variables
$primary-color: #6a96c1;
$primary-color-light: #8fb0cf;
$secondary-color: grey;
$onlight-text-color: #34343a;
$ondark-text-color: #fefefe;
$background-color: #fefefe;
$success-color: #0dc729;
$danger-color: #cd2424;
$headers-font: "acme";

// style for a set of buttons mixin
@mixin button-style($color) {
  color: $color;
  border: 2px solid $color;
  background-color: transparent;
  border-radius: 4px;
  height: 2.5em;
  font-size: 0.8em;
  width: 8em;
  margin-top: 2em;
  margin-right: 0.8em;
  cursor: pointer;
  transition: all 0.1s ease;
  transform: scale(1) translateZ(0) translateX(-1%) translateY(-1%);

  &:hover {
    transform: scale(1.05);
  }
  @content;
}

// responsive mixin
@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(600px) {
    @content;
  }
}
