@import "./../../styles/variables.scss";

// header left section style
.header {
  min-width: 100%;
  background-color: $primary-color;
  color: $ondark-text-color;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  padding-left: 3%;
  font-size: 0.8em;

  a {
    text-decoration: none;
    color: white;
  }

  .app-title {
    display: flex;
    align-items: center;

    flex: 50%;
    white-space: nowrap;

    svg {
      font-size: 2.5em;
      margin-right: 2.3rem;
    }

    h1 {
      font-family: $headers-font;
      letter-spacing: 0.1rem;
    }
  }

  // header right section, navbar style
  .navbar {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    margin-right: 3%;

    a {
      font-family: $headers-font;
      letter-spacing: 0.1em;
      color: $ondark-text-color;
      text-decoration: none;
      padding: 1%;

      // border: 1px solid red;
      &:hover {
        border: 1px solid white;
        border-radius: 8px;
      }
    }

    @include breakpoint-small {
      a {
        font-size: 2em;
        font-weight: 700;
      }
    }
  }
}
