@import "./../../styles/variables.scss";

.header {
  min-width: 100%;
  background-color: $primary-color;
  color: $ondark-text-color;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;
    margin-left: 2%;
  }

  .app-title {
    display: flex;
    align-items: center;

    flex: 50%;
    white-space: nowrap;

    svg {
      font-size: 2.5em;
      margin-right: 2.3rem;
    }

    h1 {
      font-family: $headers-font;
      letter-spacing: 0.1rem;
    }
  }

  .navbar {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    align-items: center;
    margin-right: 3%;

    a {
      color: $ondark-text-color;
      font-size: 1.2em;
      text-decoration: none;

      // border: 1px solid red;

      &:hover {
        font-weight: bold;
      }
    }

    @include breakpoint-small {
      a {
        font-size: 1.8em;
        font-weight: 700;
      }
    }
  }
}
