@import "./../../styles/variables.scss";

footer {
  background-color: $primary-color;
  margin-top: auto;
  height: 2.5rem;
  color: $ondark-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
