@import "./styles/variables.scss";

// blanket style
* {
  box-sizing: border-box;
  margin: 0;
}

// main page style
.main-page-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 3%;
  gap: 3%;

  .tasks-section {
    @include main-containers {
    }
  }

  .form-section {
    @include main-containers {
      height: 50%;
    }
  }

  // responsive style
  @include breakpoint-small {
    display: grid;
    grid-column: 1fr;

    .tasks-section {
      width: 80vw;
    }

    .form-section {
      @include main-containers;
      width: 80vw;
      height: auto;
    }
  }
}
