:root {
    --main-theme-color: #5095bf;
    --sec-theme-color: grey;
    --btn-text-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* Header/navbar section */
.header {
    margin-bottom: 2em;
    color: var(--main-theme-color);        
}

/* main container */
.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;        
}

.title-bar{
    border-bottom: 1px solid grey;
    padding-bottom: 5%;
}

.tasks-container {
    border-radius: 1%;
    /* border: 1px solid black; */
    padding: 2%;
    margin-right: 1%;
    width: 55%;
    box-shadow: 3px 3px 3px lightgray, -3px 0 .4em lightgray;
}

/* task detail cards section */
.task-details {        
    border-bottom: 1px solid var(--sec-theme-color);
    padding: 20px 0;
}

.task-details h3 {
    color: var(--main-theme-color);
    margin-bottom: 20px;
}

.content button  {
    color: var(--btn-text-color);
    border-color: var(--main-theme-color);
    background-color: var(--main-theme-color);
    border-radius: 4px;
    height: 2em;
    width: 8em;
    margin-top: 10px;
    margin-right: 3px;
}


